#name{
    border: none;
    border-bottom: black solid 1px;
    width: 24%;
    padding: 1% 1% 1% 1%;
}
#email{
    border: none;
    border-bottom: black solid 1px;
    width: 24%;
    padding: 1% 1% 1% 1%;
}
#date{
    border: none;
    border-bottom: black solid 1px;
    width: 15%;
    padding: 1% 3% 1% 3%;
}
#time{
    border: none;
    border-bottom: black solid 1px;
    width: 9%;
    padding: 1% 6% 1% 6%;
}
#number{
    border: none;
    border-bottom: black solid 1px;
    width: 18%;
    padding: 1% 3% 1% 3%;
}
span{
    font-size: xx-large;
}
button{
    border-radius: 15%;
    padding: 1% 1% 1% 1%;
    color: white;
    background-color: black;
    /*width: 15%;*/
}
div{
    align-content: center;
    padding-top: 10%;
    padding-left: 40%;
    /*left: 10%;
    margin-top: 11%;
    margin-left: 10%;
    padding: 1% 1% 1% 1%; */
}
@media only screen and (min-width: 600px){}